<script lang="ts" setup>
const props = defineProps<{}>();
</script>

<template>
  <div class="card">
    <slot name="title"></slot>
    <slot name="body"></slot>
    <slot name="footer"></slot>
  </div>
</template>
