<script lang="ts" setup>
const props = withDefaults(
  defineProps<{
    page: number;
    limit: number;
    loading: boolean;
    hasMore: boolean;
  }>(),
  {
    page: 1,
    limit: 24,
    loading: false,
    hasMore: true,
  }
);

const emit = defineEmits<{
  (e: "next"): void;
  (e: "prev"): void;
}>();
</script>

<template>
  <div class="flex bg-white">
    <button
      class="btn"
      :disabled="props.page === 1 || loading"
      @click="emit('prev')"
    >
      <i class="mdi mdi-chevron-left"></i>
      anterior
    </button>
    <div class="flex-1 text-center">
      page {{ props.page }}
      <i v-if="loading" class="mdi mdi-loading mdi-spin"></i>
    </div>
    <button class="btn" :disabled="!hasMore || loading" @click="emit('next')">
      siguiente 
      <i class="mdi mdi-chevron-right"></i>
    </button>
  </div>
</template>
