<script lang="ts" setup>
import { useDebounce } from "../composables/useDebounce";

const props = withDefaults(
  defineProps<{
    value: string;
    debounce?: number;
    loading?: boolean;
  }>(),
  {
    value: "",
    debounce: 400,
    loading: false,
  }
);

const emit = defineEmits<{
  (e: "input", name: string): void;
}>();

const searchDebounced = useDebounce((event: any) => {
  emit("input", event.target.value as string);
}, props.debounce);
</script>

<template>
  <div class="relative bg-white">
    <input
      type="text"
      class="w-full rounded bg-white"
      placeholder="Filtrar por nombre"
      :value="props.value"
      @input="searchDebounced($event)"
      :disabled="loading"
    />
    <i
      v-if="props.loading"
      class="mdi mdi-loading mdi-spin text-xl absolute top-2 right-2"
    />
  </div>
</template>
