<script lang="ts" setup>
import type { BeerList } from "../../domain/entities/Beer";
import UiAnimated from "../../../common/ui/UiAnimated.vue";

const props = defineProps<{
  beer: BeerList;
  selected: boolean;
}>();
const emit = defineEmits<{
  (e: "click"): void;
}>();
</script>

<template>
  <UiAnimated @click="emit('click')" class="p-4 border rounded-lg">
    <div :class="{ 'font-bold': props.selected }" class="text-lg">
      {{ props.beer.name }}
    </div>
    <div class="text-muted text-sm">
      {{ props.beer.description }}
    </div>
  </UiAnimated>
</template>
