<script setup lang="ts">
import { watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useBeersStore } from "../../domain/stores/beersStore";

const route = useRoute();
const router = useRouter();
const { get, state, resetResult } = useBeersStore();

function close() {
  router.replace({ name: "beers" });
}

watch(
  () => route.params.id,
  () => {
    if (route.params.id) get(route.params.id as string);
    else resetResult();
  },
  { immediate: true }
);
</script>

<template>
  <div class="absolute w-full h-full"
    v-motion
    :initial="{ opacity: 0, y: 100 }"
    :enter="{ opacity: 1, y: 0 }"
  >
    <div class="container">
      <div class="flex">
        <div class="w-32 flex justify-center" v-if="state.result?.image_url">
          <img :src="state.result.image_url" class="max-h-32" />
        </div>
        <div class="flex-1">
          <h1 class="text-2xl">{{ state.result?.name }}</h1>
          <p class="text-muted">{{ state.result?.description }}</p>
        </div>
      </div>
      <button class="btn" @click="router.replace({ name: 'beers' })">
        Cerrar
      </button>
    </div>
  </div>
</template>
