<script setup lang="ts">
import { onMounted } from "vue";
import { useBeersStore } from "../../domain/stores/beersStore";
import BeerCard from "../components/BeerCard.vue";
import UiPagination from "@/modules/common/ui/UiPagination.vue";
import UiTextFilter from "@/modules/common/ui/UiTextFilter.vue";
import { useRoute, useRouter } from "vue-router";

const router = useRouter();
const route = useRoute();
const { pagination, state, search, searchNext, searchPrev } = useBeersStore();
onMounted(search);

function onFilterChanged(value: string) {
  pagination.reset();
  state.searchParams.beer_name = value || undefined;
  search();
}
</script>

<template>
  <div class="flex-1 flex">
    <div class="flex-1 flex flex-col">
      <div class="container p-4">
        <UiTextFilter
          :value="state.searchParams.beer_name"
          :loading="state.loading"
          :debounce="600"
          @input="onFilterChanged"
        />
      </div>
      <div class="flex-1 overflow-scroll">
        <div class="container">
          <div class="row">
            <div class="w-full lg:w-1/2" v-for="b in state.results" :key="b.id">
              <BeerCard
                :selected="(route.params.id as string === b.id.toString())"
                ccccclick="router.push({ name: 'beer', params: { id: b.id } })"
                :beer="b"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="container">
          <UiPagination
            class="w-full py-3"
            :page="pagination.params.page"
            :limit="pagination.params.per_page"
            :has-more="state.canNavNext"
            :loading="state.loading"
            @next="searchNext()"
            @prev="searchPrev()"
          />
        </div>
      </div>
    </div>
    <!-- <div class="flex-1 relative">
      <div class="container absolute top-0">
        <RouterView />
      </div>
    </div> -->
    
    <RouterView />

  </div>
</template>
