@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
}
.row { @apply -mx-2 flex flex-wrap;}
.row > * { @apply p-2;}

.container { @apply max-w-6xl px-4 mx-auto; }
.text-muted { @apply text-gray-500; }


